* {
  font-family: arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body .display_none {
  display: none;
}
body div#game_container {
  background-image: url(../images/game_background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
body div#game_container div#score_container {
  color: #00feff;
  font-weight: bold;
  height: 50px;
  left: 10px;
  position: absolute;
  top: 10px;
}
body div#game_container div#hero_life_container {
  position: relative;
  left: 130px;
  top: 1px;
}
body div#game_container div#hero_life_container span.life {
  color: red;
  font-weight: bold;
  position: absolute;
  top: 10px;
}
body div#game_container div#hero_life_container ul#life_num {
  left: 40px;
  position: absolute;
  top: 3px;
}
body div#game_container div#hero_life_container ul#life_num li.lifes {
  color: red;
  display: inline-block;
  font-size: 20px;
  margin-left: 2px;
}
body div#game_container div#hero_life_container ul#life_num li.lifes:first-child {
  margin-left: 0px;
}
body div#game_container .explode {
  background-image: url(../images/explosion.gif) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  height: 80px !important;
  width: 145px !important;
}
body div#game_container #hero {
  background-image: url(../images/space-ship02.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120px 75px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 30%;
  /*	border: 1px solid red;*/
  transition: all linear .3s;
  height: 80px;
  position: absolute;
  width: 145px;
  z-index: 1;
}
body div#game_container .color_life {
  border: 1px solid red !important;
}
body div#game_container .enem_bullets {
  background-color: #fe2525;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  height: 8px;
  transition: all ease-in 0.5s;
  width: 8px;
  z-index: 2;
}
body div#game_container .enemy_bugs {
  /*animation: movebug 2s infinite;*/
  background-image: url(../images/enemy_bug.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 115px 70px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  /*border: 1px solid red;*/
  height: 80px;
  position: absolute;
  width: 100px;
}
body div#game_container .enemy_bugs ul#enemy_health {
  left: 30px;
  position: absolute;
  top: -8px;
}
body div#game_container .enemy_bugs ul#enemy_health li.enemy_barHealth {
  background-color: red;
  display: inline-block;
  height: 5px;
  margin-right: 3px;
  width: 15px;
}
body div#game_container div.enemy_drones {
  background-image: url(../images/enemy_drone.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180px 75px;
  /*	border: 1px solid red;*/
  height: 80px;
  position: absolute;
  width: 170px;
}
body div#game_container div.enemy_drones ul#drone_health {
  left: 30px;
  position: absolute;
  top: -8px;
}
body div#game_container div.enemy_drones ul#drone_health li.enemy_drone_health {
  background-color: red;
  display: inline-block;
  height: 5px;
  margin-right: 3px;
  width: 15px;
}
body div#game_container div.missile {
  background-color: #08FFFF;
  border-radius: 50%;
  border: 5px solid #20205D;
  position: absolute;
  height: 5px;
  transition: all ease-in 0.5s;
  width: 5px;
  z-index: 1;
}
body div#game_container div#boss1 {
  background-image: url('../images/alien-space-boss1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400px 250px;
  /*border: 1px solid red;*/
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 270px;
  position: absolute;
  width: 380px;
  transition: all linear .8s;
}
body div#game_container div#boss1 ul {
  left: 55px;
  position: absolute;
  top: -50px;
  width: 302px;
}
body div#game_container div#boss1 ul li.boss1_health {
  background-color: red;
  display: inline-block;
  height: 5px;
  margin-right: 2px;
  width: 1px;
}
body div#game_container div.boss_deadly_missiles {
  background-color: #a6c2c9;
  border: 8px solid #2176a8;
  border-radius: 50%;
  position: absolute;
  height: 12px;
  transition: all ease-in 0.5s;
  width: 12px;
  z-index: 2;
}
body div#game_container .boss_explosion {
  background-image: url(../images/explosion.gif) !important;
  background-position: center;
  background-repeat: no-repeat;
  height: 270px;
  width: 380px;
}
body #wrapper {
  background: url('../images/space-impact-background.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  /* Safari */
}
body #wrapper h1#game_title {
  color: #85adc4;
  font-weight: bold;
  font-size: 60px;
  margin: 0 auto 100px auto;
  text-shadow: 2px 2px 4px #000000;
  width: 400px;
}
body #wrapper ul#game_menu {
  width: 400px;
  margin: 0 auto 100px auto;
}
body #wrapper ul#game_menu li.game_menu_list {
  font-weight: bold;
  color: #c27a00;
  cursor: pointer;
  font-size: 40px;
  font-family: sans-serif;
  list-style: none;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #000000;
  transition: all ease-in 0.1s;
}
body #wrapper ul#game_menu li.game_menu_list:hover {
  transform: scale(1.1);
}
body #wrapper #game_loader {
  animation: spin 2s linear infinite;
  border: 16px solid #2a4162;
  border-radius: 50%;
  border-top: 16px solid #c27a00;
  height: 120px;
  line-height: 50px;
  margin: 0 auto 20px auto;
  width: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  z-index: 10;
}
body #wrapper span {
  color: #c27a00;
  font-weight: bold;
  font-size: 20px;
  margin: 0px auto 0 auto;
  width: 100px;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
