<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game Menu</title>
	<style>
		#wrapper{

			background: url('../assets/images/space-impact-background.jpg');
			background-position: center;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;

			#wrapper #game_menu .game_menu_list{
				font-weight: bold;
				color: #c27a00;
				cursor: pointer;
				font-size: 25px;
				font-family: sans-serif;
				list-style: none;
				margin-bottom: 10px;
				text-shadow: 2px 2px 4px #000000;
			}
		}
	</style>
</head>
<body>
	<div id="wrapper">
		<ul id="game_menu">
			<li class="game_menu_list">Start Game</li>
			<li class="game_menu_list">Resume Game</li>
			<li class="game_menu_list">About</li>
			<li class="game_menu_list">Exit</li>
		</ul>
	</div>
	<script src="../assets/js/space_impact.js"></script>
</body>
</html>